
body{
    background-image: url("image/utm.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.flex-container {
	display:grid;
	height:100vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr;
	grid-template-areas:
		"f6 f96"
		"f0 f1"
		"f2 f6";
}
.alert	{
	color:#ABB2B9;
	font-size: 60px;
    text-align: center;

}
.navigator {
	text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 0.5rem;
    background-color: #c1b5a9;
    border-radius: 10px;
    margin: 50px auto;
}
.navigator ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigator ul li {
  list-style: none;

}
.navigator ul .active {
  color: #ff6f91;
  font-weight: 900;
  font-size: 2rem;
}
.navigator ul li:hover {
  transform: translateY(-5px);
}
.alter	{
	color:white;
	font-size: 60px;
    text-align: center;
}
.coffee {
	border-radius: 30px;
	box-shadow: 
	12px 12px 16px 0 rgba(0, 0, 0, 0.5),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.5);
}
.flex0 {
	background-color: #784212 ;
	grid-area:f0;
}
.flex1 {
	grid-area:f1;
}
.flex6 {
	grid-area:f6;
}
.flex2 {
	background-color: #784212 ;
	grid-area:f2;
}
.flex6 {
	grid-area:f6;
}
.flex96 {
	grid-area:f96;
}
.flex-container > div {
   
    margin: 5px;
    padding: 10px;
    font-size: 30px;
	text-align: center;
	color:white;
	font-size: 30px;
}